.archive-page {
  .post {
    color: #444;
    a {
      color: inherit;
      text-decoration: none;
      margin: 3px 0;
      border-bottom: 1px dashed #EEE;
      &:hover {
        color: $themeColor;
      }
    }
  }
  .tags {
    color: #888;
  }
}