
.desktop {
  .post-wrapper {
    display: flex;
    .tags-list {
      min-width: 160px;
      border-left: 1px solid #f3f3f3;
      align-self: baseline;
    }
  }
  .post-list {
    padding-right: 20px;
  }
}
.post-list {
  padding: 20px 0;
  .post-title {
    color: #000;
    // margin-top: 5px;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
.post-item {
  margin-bottom: 25px;
  border-bottom: 1px dashed #EEE;
  padding-bottom: 25px;
  .post-desc {
    color: #777;
  }
  .post-entity {
    cursor: pointer;
    &:hover {
      .post-title {
        color: $themeColor;
      }
    }
  }
  .time, .read-time {
    color: #888;
  }
  .post-desc {
    // margin: 20px 0 10px;
    font-size: 1.1em;
  }
  a {
    color: #777;
  }
}
.post-shortcut-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  margin-bottom: 20px;
  color: #666;
  a {
    color: inherit;
    text-decoration: none;
  }
}
.post-detail {
  .subcontent {
    margin: 30px 0;
  }
}
.subcontent {
  display: flex;
  color: #777;
}
.tags-list {
  padding-left: 20px;
  line-height: 1.5em;
  .title {
    margin-bottom: 20px;
  }
  a {
    color: #888;
    border-bottom: 1px dashed #EEE;
    text-decoration: none;
  }
}
p {
  margin-bottom: 20px;
}

a {
  &:hover {
    color: $themeColor;
  }
}
