
.post-list {
  padding: 20px 0;
  .post-title {
    color: #000;
    // margin-top: 5px;
    a {
      color: inherit;
    }
  }
}
.post-item {
  margin-bottom: 50px;
  cursor: pointer;
  .post-desc {
    color: #777;
  }
  .time, .read-time {
    color: #888;
  }
  .post-desc {
    // margin: 20px 0 10px;
    font-size: 1.1em;
  }
}
.post-shortcut-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  margin-bottom: 20px;
}
