@media screen and (max-width: 1380px) {
  #PostTOCWrapper {
    display: none;
  }
}
@media screen and (max-width: $container-md-width) {
  .header, .footer {
    padding-left: 10px;
    padding-right: 10px;
  }
  .wrapper {
    .container {
      &.main {
        padding: 10px 10px;
      }
    }
    blockquote {
      margin: 20px 0 30px;
    }
  }
}
@media screen and (max-width: $container-lg-width) {
  .header, .footer {
    padding-left: 10px;
    padding-right: 10px;
  }
  .wrapper {
    .container {
      &.main {
        padding: 10px 10px;
      }
    }
    blockquote {
      margin: 20px 0 30px;
    }
  }
}
@media screen and (max-width: $container-sm-width) {
  .archive-page {
    .item {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
