body {
  background-color: #fefefe;
  font-size: 14px;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  // color: #666;
}
p, li {
  color: #444;
}
li {
  >p {
    margin-bottom: 0.25em !important;
    margin-top: 0 !important;
  }
}
blockquote {
  p {
    color: #999;
  }
}
a {
  color: $themeColor;
}
.__modal-header {
  background-color: rgba(#000, 0.4) !important;
  color: #FFF !important;
  position: absolute !important;
  z-index: 11;
  border-bottom: none !important;
  .btn-set {
    color: #FFF !important;
  }
}
.wrapper {
  position: relative;
  // z-index: 1;
  // opacity: 0;
  // transition: opacity 0.2s ease;
  // &.ready {
  //   opacity: 1;
  // }
  .container {
    width: 60%;
    max-width: 980px;
    min-width: 768px;
  }
  // &.desktop {
  // }
}
.container {
  margin: 0 auto;
  &.main {
    padding: 40px 0;
  }
}
.back-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 6px 20px;
  border: 1px solid #EEE;
  border-radius: 4px;
  background-color: #f9f9f9;
  cursor: pointer;
}
img {
  max-width: 100%;
}
.pagin-con {
  margin: 20px 0;
  padding: 0;
}
.footer {
  background-color: #EEE;
  color: #777;
  border-top: 1px solid #e9e9e9;
  padding: 20px 0;
  .contact {
    // font-size: 20px;
  }
  .icon {
    font-size: 20px;
    width: 30px;
    text-align: center;
  }
  a {
    color: #777;
  }
}

.bio {
  // align-items: center;
  .desc {
    display: flex;
    // margin-left: 10px;
    align-items: flex-end;
    .name {
      // font-weight: bold;
      font-size: 1.1em;
      color: #555;
      margin-right: 10px;
    }
    .c {
      color: #999;
    }
  }
}
@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}