body {
  background-color: #fefefe;
  font-size: 14px;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}
p, li {
  color: #444;
}
li {
  >p {
    margin-bottom: 0.25em !important;
    margin-top: 0 !important;
  }
}
blockquote {
  p {
    color: #999;
  }
}
a {
  color: $themeColor;
}
.wrapper {
  position: relative;
  .container {
  }
}
.container {
  &.main {
    padding: 40px 0;
  }
}
.back-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 6px 20px;
  border: 1px solid #EEE;
  border-radius: 4px;
  background-color: #f9f9f9;
  cursor: pointer;
}
img {
  max-width: 100%;
}
.pagin-con {
  margin: 20px 0;
  padding: 0;
}
.footer {
  background-color: #fafafa;
  color: #999;
  border-top: 1px solid #f3f3f3;
  padding: 10px 0;
  // .footer-icon {
  //   text-align: center;
  // }
  .contact {
    // font-size: 20px;
  }
  .icon {
    font-size: 16px;
    width: 36px;
    text-align: center;
  }
  a {
    color: #777;
  }
}

.page-visitor {
  color: #999;
}

.bio {
  // align-items: center;
  .desc {
    display: flex;
    // margin-left: 10px;
    align-items: flex-end;
    .name {
      // font-weight: bold;
      font-size: 1.1em;
      color: #555;
      margin-right: 10px;
    }
    .c {
      color: #999;
    }
  }
}
@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}
